body{
    background-color: moccasin;
}
.escala16-9{
    aspect-ratio: 16/9;
}
.barra{
    margin: 0;
    padding: 0;
}

.botones{
    display: flex;
    
}
.coach{
    color: rgb(10, 81, 97);
}
.redes{
    margin-bottom: 20px;
    
}
.ig:hover{
    scale: 1.05;
}  
.youtube:hover{
    scale: 1.05;
}  

